
#contenedor{
    position: relative;
    border: 1px solid black;
    background-color: beige;
    width: 550px;
    height: 150px;
    margin: 0 auto;
    top: 0px;
    display: inline-flex;

}

#caja1{
    position;
    top: 150px;
    right: 0px;
    color: rgb(0, 0, 0);
    background-color: red;
    width: 150px;
    height: 150px;
    margin: 0px;
}
